<div class="homenav">
  <div class="homenavforbg">
    <!-- navbar-dark -->
    <nav class="navbar navbar-expand-md mb-4 navbar-dark" id="navbar">
      <a class="navbar-brand" href="home.html">
        <img src="../assets/images/logobig.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mainav">
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle disabled">Bootcamps</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Sports</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="bootcamps.html">Boxing</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Dancing</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Bachata</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Salsa Cuban Style</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Salsa L.A. Style</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Quality Assurance</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Performance Testing</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Istqb Foundation</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Istqb Agile</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">C# And Specflow</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Api Test Automation</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Service Virtualization</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Java + Bdd</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Javascript And Protractor</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Development</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="index.html">Programming Fundamentals</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle disabled">Private Lessons</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Sports</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="private.html">Boxing</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Dancing</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="">Bachata</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Salsa Cuban Style</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Salsa L.A. Style</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Quality Assurance</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="">Performance Testing</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Istqb Foundation</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Istqb Agile</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">C# And Specflow</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Api Test Automation</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Service Virtualization</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Java + Bdd</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Javascript And Protractor</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Development</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="">Programming Fundamentals</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle disabled">Courses</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Sports</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="passionscoursepage.html">Boxing</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Dancing</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="">Bachata</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Salsa Cuban Style</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Salsa L.A. Style</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Quality Assurance</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="">Performance Testing</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Istqb Foundation</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Istqb Agile</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">C# And Specflow</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Api Test Automation</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Service Virtualization</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Java + Bdd</a></li>
                  <li class="dropdown-item"><a tabindex="-1" href="">Javascript And Protractor</a></li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" href="Javascript:void(0)" aria-haspopup="true" aria-expanded="false">Development</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="">Programming Fundamentals</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle disabled">More</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <a class="dropdown-item" href="dance.html"><i class="fa fa-dance" aria-hidden="true"></i> Dance</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="development.html"><i class="fa fa-dance" aria-hidden="true"></i> Development</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="qa.html"><i class="fa fa-dance" aria-hidden="true"></i> Quality Assurance</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="sports.html"><i class="fa fa-dance" aria-hidden="true"></i> Sports</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="#"><i class="fa fa-users" aria-hidden="true"></i> Become a trainer</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="#"><i class="fa fa-building-o" aria-hidden="true"></i> Enterprise</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="#"><i class="fa fa-binoculars" aria-hidden="true"></i> Vision</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Teaching Method</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Videos</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="#"><i class="fa fa-info" aria-hidden="true"></i> FAQ</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle disabled">Account</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <a class="dropdown-item" href="mybootcamps.html">My Bootcamp</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="myprivatelessons.html">My Private Lesson</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="myskills.html">My Skills</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="createbootcamps.html">Create Bootcamp</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="editteacherprofile.html">My profile</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="Javascript:void(0)" class="nav-link disabled" data-toggle="modal" data-target="#signInModal">Login</a>
          </li>
          <li class="nav-item">
            <a class="joinbtn" href="Javascript:void(0)" data-toggle="modal" data-target="#signUpModal">JOIN !</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="bannercontent">
            <div class="fastforward wow bounceInUp">Fast Forward</div>
            <div class="learning wow bounceInUp">Learning</div>
            <div class="learnany wow bounceInUp">Learn anything you want</div>
            <div class="teachany wow bounceInUp">Teach anything you want</div>
            <button class="btn wow bounceInUp revolutionbtn">Join the Revolution</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
