<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img src="../../assets/images/logo.png"><br /><br />
        <ul class="list-unstyled">
          <li><a href="javascript:">Enterprise</a></li>
          <li><a href="javascript:">Become a Trainer</a></li>
          <li><a href="javascript:">Vision</a></li>
          <li><a href="javascript:">Contact</a></li>
          <li><a href="javascript:">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="title">BOOTCAMPS</div>
        <svg height="15" width="50">
          <line x1="0" y1="0" x2="50" y2="0" style="stroke:#43a4ee;stroke-width:3"></line>
        </svg>
        <ul class="list-unstyled">
          <li><a href="javascript:">Sports</a></li>
          <li><a href="javascript:">Dancing</a></li>
          <li><a href="javascript:">Quality Assurance</a></li>
          <li><a href="javascript:">Development</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="title">TEACHERS</div>
        <svg height="15" width="50">
          <line x1="0" y1="0" x2="50" y2="0" style="stroke:#43a4ee;stroke-width:3"></line>
        </svg>
        <ul class="list-unstyled">
          <li><a href="javascript:">Sports</a></li>
          <li><a href="javascript:">Dancing</a></li>
          <li><a href="javascript:">Quality Assurance</a></li>
          <li><a href="javascript:">Development</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="title">CONNECT WITH US</div>
        <svg height="15" width="50">
          <line x1="0" y1="0" x2="50" y2="0" style="stroke:#43a4ee;stroke-width:3"></line>
        </svg>
        <table>
          <tr>
            <td><img src="../assets/images/twitter.png"></td>
            <td><img src="../assets/images/fb.png"></td>
            <td><img src="../assets/images/video.png"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 copyright">
      NLBootcamps © 2017 All Rights Reserved
    </div>
  </div>
</div>
