<section class="readyaction">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 wow bounceInLeft">
        <div class="contain-left">
          <h3>Get Ready For Action</h3>
          <img src="../assets/images/getreadyforaction.png" class="infographics d-block d-sm-none" alt="Get ready for contain" />
          <p>Our Bootcamps are the most effective and fun way to learn. We make sure the multiple challenges that you do will be stored to your brain efficiently and that you engage with your fellow bootcampers.</p>
          <button class="btn">Follow Bootcamp</button>
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="contain-right">
          <img src="../assets/images/getreadyforaction.png" class="infographics" alt="Get ready for contain" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="individualsupport">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="nomarginleft">
          <img src="../assets/images/individualsupport.png" class="infographics" alt="Get ready for contain" />
        </div>
      </div>
      <div class="col-md-5 wow bounceInRight">
        <div class="contain-right">
          <h3>If you like individual support</h3>
          <img src="../assets/images/individualsupport.png" class="infographics d-block d-sm-none" alt="Get ready for contain" />
          <p>For some this is the best way to learn, because of the 1on1 dedicated support. Out trainers are either experts in their field or just a passionate person like you teaching what they have just learned.</p>
          <button class="btn">1 on 1 Support</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="betrainer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 wow bounceInLeft">
        <div class="contain-left">
          <h3>If you love what you do and you want to do more of it</h3>
          <img src="../assets/images/betrainer.png" class="infographics d-block d-sm-none" alt="Get ready for contain" />
          <p>Either you are already knowledgable in your field or you can become it. Follow a challenge 3 times which automatically gives you the option to become available as a trainer.</p>
          <button class="btn">Become a Trainer</button>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="contain-right">
          <img src="../assets/images/betrainer.png" class="infographics" alt="Get ready for contain" />
        </div>
      </div>
    </div>
  </div>
</section>
